<%- include('../partials/header') %>
  <head>
    <title>Donut Journalists</title>
    <% donuts.forEach(function(d) { %>
      <tr>
        <td><%= d.name %></td>
      </br>
          <img src= '<%= d.image %>' height="150" width="150"/>
      </br>
        <td>Eaten On: <%= d.eaten %></td>
      </tr>
    </br>
  </br>
      <% }); %>
    </tbody>
  </table>
</head>
</body>
</html>
<%- include('../partials/footer') %>
