<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>Tim's Donuts</title>
</head>
<body>
  <nav class="nav-profile">
    <a href="/" >World of Donuts</a>
    <a href="/new">Add Another Donut</a>
    <a href="/logout"><i class="material-icons left"></i>Log Out</a>
</nav>
  <h1>Your Donuts</h1>
    <tbody>
        <% if(eater){ %>
          
          <% eater.donuts.forEach(function(d) { %>
              <td><%= d.name %></td>
            </br>
              <img src= '<%= d.image %>' height="150" width="150"/>
          </br>
              <td>Eaten On: <%= d.eaten %></td>
          </br>
              <td>Eaten Where: <%= d.where %></td>
        </br>
              <td>Your Experience: <%= d.entry %></td>
          </br>
              <form action="/donuts/<%= d._id %>?_method=DELETE" method="POST">
                <button class="delete"type="submit">Delete</button>
                <button class="edit" ><a href='/donuts/<%= d._id %>/edit'>edit</a></button>
              </form>
              
              <form action="/donuts/<%= d._id %>?_method=PUT" method="POST">
              </form>
            </div>
              
      <% }); %>
      <% } else { %>
      <h1>please login to continue</h1>
      <% } %>
    </tbody>
  </table>
</body>

</html>