<html lang="en">

  <head>
    <title>Tim's Donuts</title>
  </head>
  <body>
    <thead>
      <tr>
        <th>Donut Eaten</th>
        <th>Eaten On:</th>
        <th>Address:</th>
        <th>Your Experience</th>
      </tr>
    </thead>
    <tbody>
      <% donuts.forEach(function(d) { %>
        <tr>
          <td><%= d.name %></td>
          <td><%= d.eaten %></td>
          <td><%= d.where %></td>
          <td><%= d.entry %></td>
          <td><a href="/donuts/<%= d._id %>">Donuts</a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</body>
</html>