
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tim's Donuts</title>
</head>
<nav></nav>
<a href="/" >World of Donuts</a>
<a href="/new">Add Another Donut</a>

<body>
  <h1>Your Donuts</h1>
    <tbody>
        <% if(eater){ %>
          
          <% eater.donuts.forEach(function(d) { %>
              <td><%= d.name %></td>
            </br>
              <img src= '<%= d.image %>' height="150" width="150"/>
          </br>
              <td>Eaten On: <%= d.eaten %></td>
          </br>
              <td>Eaten Where: <%= d.where %></td>
        </br>
              <td>Your Experience: <%= d.entry %></td>
          </br>
              <form action="/donuts/<%= d._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
                <button class = "edit" ><a href='/donuts/<%= d._id %>/edit'>edit</a></button>
              </form>
              
              <form action="/donuts/<%= d._id %>?_method=PUT" method="POST">
              </form>
            </div>
              
      <% }); %>
      <form>


      </form>
      <% } else { %>
      <h1>please login to continue</h1>
      <% } %>
    </tbody>
  </table>
</body>

</html>